
@font-face {
  font-display: fallback;
  font-family: "inter";
  src: url("fonts/inter/inter-medium.woff2") format("woff2"),
      url("fonts/inter/inter-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: "stem";
  src: url("fonts/stem/stem-medium.woff2") format("woff2"),
      url("fonts/stem/stem-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "inter";
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.content {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  outline: none;
}

/* HEADER */

header {
  width: 100%;
}

header .container {
  display: flex;
  flex-direction: column;
  max-width: 1680px;
  padding-inline: 70px;
}

.logo-wrapper {
  height: 88px;
  display: flex;
  align-items: center;
}

.logo {
  width: 149px;
  height: 54px;
}

.arrow-left {
  height: 18px;
  width: 18px;
}

.back-button-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #EEEFF0;
  border-radius: 12px;
  padding: 13px 16px;
  column-gap: 8px;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 5px;
}

.back-button-desktop:hover {
  background-color: #C9C9C9;
}

.back-button {
  font-size: 16px;
  line-height: 140%;
  color: #262626;
  text-decoration: none;
  font-family: "inter";
}

/* /HEADER */

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .container {
  width: 627px;
  margin: 0 auto;
  font-family: 'inter', 'Arial', Helvetica, sans-serif;
  background-color: white;
  max-width: 1680px;
  margin-inline: auto;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 16px;
}


.cards {
  margin-top: 20px;
  height: 354px;
  position: relative;
}

.card {
  width: 511px;
  height: 321px;
  border-radius: 23.78px;
  position: absolute;
  padding-inline: 29px;
  padding-top: 25px;
  padding-bottom: 49px;
  box-sizing: border-box;
}

.card-front {
  background-color: #EEEFF0;
  box-shadow: 0px 2.38px 2.38px 0px rgba(255, 255, 255, 0.15) inset,
  -1.19px -1.19px 2.38px 0px rgba(0, 0, 0, 0.04) inset,
  9px 7px 12px 0px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.kk-logo {
  height: 50px;
}

.cardencrypt-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin-top: 29px;
}

.wrapper-input {
  background-color: white;
  border: 1px solid #C9C9C9;
  box-sizing: border-box;
  border-radius: 20px;
}

.group-input {
  width: 100%;
  color: #262626;
  font-family: 'stem', 'Arial', Helvetica, sans-serif;
  box-sizing: border-box;
}

.group-input::placeholder {
  color: #C9C9C9;
}

.group-input:disabled {
  background-color: #F3F3F3;
  opacity: 50%;
  cursor: not-allowed;
}

.pan-block .group-input {
  padding: 18px;
  text-align: left;
  line-height: 110%;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.067ch;
  height: 76px;
  width: 449px;
  background: none;
  border: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:invalid {
  border: 2px solid #E0001A;
}

.group-error {
  opacity: 0%;
  font-size: 0.85em !important;
  color: #E0001A !important;
  margin-top: 5px;
  position: absolute;
}

.expDate-cvv-block {
  display: flex;
  align-items: end;
  column-gap: 24px;
}

.inline {
  padding: 18px;
  height: 60px;
  width: 120px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
}

.expDate-cvv-block .group-input {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.2px;
  text-align: center;
}

.inline span {
  font-size: 24px;
  color:#C9C9C9;
  line-height: 100%;
}

.expDate-block {
  border: 1px solid #C9C9C9;
  border-radius: 20px;
}

.expDate-block .expYear,
.expDate-block .expMonth {
  text-align: center;
  border: none;
  background-color: white;
  font-size: 24px;
  margin-top: 0px;
  border-radius: 0;
}

.expDate-block .expYear:focus,
.expDate-block .expMonth:focus {
  border: none;
}

.expDate-block .expYear:disabled,
.expDate-block .expMonth:disabled {
  background-color: #F0F0F0;
}

.cvv2-block .wrapper-input {
  max-width: 159px;
}

.cvv2-block .group-input {
  padding: 18px;
  height: 60px;
  width: 155px;
  background: none;
  border: none;
}

.mir-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-back {
  background-color: #AEAEAE;
  box-shadow: 0px 2.38px 2.38px 0px rgba(255, 255, 255, 0.15) inset,
  -1.19px -1.19px 2.38px 0px rgba(0, 0, 0, 0.04) inset;  
  z-index: 1;
  top: 33px;
  left: 116px;
  padding: 0px;
}

.black-line {
  height: 64px;
  margin-top: 53px;
  background-color: black;
}

.lines {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  margin: 12px auto;
}

.line {
  width: 100%;
}

.gray-line {
  height: 4px;
  background-color: #C9C9C9;
}

.cards-footer {
  display: flex;
  column-gap: 8px;
  margin-top: 24px;
}

.description {
  font-family: 'inter', 'Arial', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  color: #262626;
}

.pay-button {
  -webkit-appearance: none;
  font-family: 'inter', 'Arial', Helvetica, sans-serif;
  border: none;
  outline: none;
  box-shadow: none;
  border: none;
  line-height: 140%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 12px;
  padding: 13px 16px;
  display: flex;
  column-gap: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin: 0px;
  outline-offset:-2px;
  text-wrap: nowrap;
  white-space: nowrap;
  background-color: #354BCA;
  color: #fff;
  height: 48px;
  cursor: pointer;
}
.pay-button:hover {
  transition: all 0.5s;
  background-color: #273699;
}
.pay-button:focus {
  background-color: #354BCA;
  outline: 2px solid #778AD6;
  transition: none;
  border: none;
}
.pay-button:active {
  background-color: #354BCA;
  outline: 2px solid #778AD6;
  transition: none;
  border: none;
}
.pay-button:disabled {
  background-color: #AEAEAE;
  color: #C9C9C9;
}
.pay-button:disabled:active {
  outline: none;
}

.pay-button.gray {
  display: none;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #EEEFF0;
  color: #262626;
}
.pay-button.gray:hover {
  transition: all 0.5s;
  background-color: #C9C9C9;
}
.pay-button.gray:focus {
  background-color: #EEEFF0;
  outline: 2px solid #778AD6;
  transition: none;
  border: none;
}
.pay-button.gray:active {
  background-color: #EEEFF0;
  outline: 2px solid #778AD6;
  transition: none;
  border: none;
}
.pay-button.gray:disabled {
  background-color: #EEEFF0;
  color: #C9C9C9;
}
.pay-button.gray:disabled:active {
  outline: none;
}

/* /MAIN */

.errorref-link-wrapper {
  margin-top: 20px;
  width: 100%;
}

.errorref-link-line {
  display: block;
  text-align: center;
}

.errorref-link {
  color: gray;
  font-family: 'inter', 'Arial', Helvetica, sans-serif;
  font-size: 16px !important;
}

.payment-systems {
  display: flex;
  column-gap: 32px;
  padding-bottom: 20px;
  max-height: 52px;
}

.payment-systems.mobile {
  max-height: 0px;
  padding: 0px;
}

@media (max-width: 1536px) {

  header .container {
    padding-inline: calc(16px + (70 - 16) * ((100vw - 375px) / (1680 - 375)));
  }

  .logo-wrapper {
    height: calc(75px + (88 - 75) * ((100vw - 375px) / (1680 - 375)));
  }

  .logo {
    width: calc(111px + (149 - 111) * ((100vw - 375px) / (1680 - 375)));
    height: calc(40px + (54 - 40) * ((100vw - 375px) / (1680 - 375)));
  }

  main .container {
    padding-inline: calc(20px + (70 - 20) * ((100vw - 375px) / (1680 - 375)));
  }

  .pay-button {
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1680 - 375)));
  }

}

@media (max-width: 900px) { 

  main .container {
    width: 561px;
  }

  .card-back {
    left: 50px;
  }

  .back-button-desktop {
    column-gap: 4px;
  }

  .back-button {
    font-size: 14px;
    line-height: 130%;
  }

}


@media (max-width: 600px) { 

  .back-button-desktop {
    display: none;
  }

  main .container {
    width: auto;
  }

  .cards {
    width: 335px;
    height: 210px;
    margin: 20px auto 0px auto;
  }

  .card {
    width: 335px;
    height: 210px;
    padding-inline: 20px;
    padding-top: 18px;
    padding-bottom: 30px;
  }

  .kk-logo {
    height: 35px;
  }

  .cardencrypt-form {
    margin-top: 17px;
    row-gap: 12px;
  }

  .wrapper-input {
    border-radius: 16px;
  }
  
  .pan-block .group-input {
    line-height: 100%;
    letter-spacing: 0.103ch;
    height: 52px;
    width: 293px;
    padding: 15px;
  }

  .inline {
    height: 42px;
    width: 93px;
    padding-inline: 15px;
    padding-block: 12px;
    border-radius: 16px;
  }

  .cvv2-block .wrapper-input {
    max-width: 121px;
    max-height: 44px;
  }

  .expDate-cvv-block {
    column-gap: 12px;
  }

  .expDate-block {
    border-radius: 16px;
  }

  .expDate-block .expMonth,
  .expDate-block .expYear,
  .cvv2-block .group-input {
    font-size: 18px;
    line-height: 100%;
  }

  .cvv2-block .group-input {
    height: 42px;
    width: 119px;
    padding-inline: 15px;
    padding-block: 12px;
  }

  .mir-logo {
    bottom: 5px;
    right: 5px;
    height: 40px;
    width: 80px;
  }

  .card-front {
    box-shadow: 0px 1.56px 1.56px 0px rgba(255, 255, 255, 0.15) inset,
    -0.78px -0.78px 1.56px 0px rgba(0, 0, 0, 0.04) inset,
    5.9px 4.59px 7.87px 0px rgba(0, 0, 0, 0.15);
  }

  .card-back {
    padding: 0px;
    display: none;
  }

  .cards-footer {
    max-width: 335px;
    flex-direction: column;
    row-gap: 8px;
  }

  .description {
    line-height: 130%;
    font-size: 11px;
  }

  .pay-button {
    width: 100%;
    height: 44px;
    line-height: 130%;
    font-size: 14px;
    padding: 14px 33px;  
  }

  .pay-button.gray {
    display: flex;
  }

  .payment-systems {
    column-gap: 16px;
  }

  .payment-systems.mobile {
    max-height: 320px;
    padding-bottom: 20px;
  }

  .payment-systems.desktop {
    display: none;
  }

  .payment-systems img {
    height: 32px;
  }

  .inline span {
    font-size: 18px;
  }

}

@media (max-width: 360px) { 
  main .container {
    padding-inline: 5px;
  }

  .cards {
    width: 305px;
  }

  .kk-logo {
    height: 32px;
  }

  .cardencrypt-form {
    margin-top: 10px;
  }

  .card-front {
    /* padding-inline: 5px; */
    width: 305px;
  }

  .pan-block .group-input {
    width: 263px;
  }

  .mir-logo {
    bottom: 3px;
    right: 3px;
  }

  .cards-footer {
    max-width: 305px;
  }
}