/* steam medium */
@font-face {
    font-display: fallback;
    font-family: "stem";
    src: url("./stem-medium.woff2") format("woff2"),
        url("./stem-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}



